<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>JIE</servlet-name>
        <servlet-class>com.artistech.ee.orange.JIE</servlet-class>
        <init-param>
            <param-name>path</param-name>
            <param-value>/work/Documents/FOUO/EntityExtraction/JIE-Multimedia-java-master</param-value>
        </init-param>
        <init-param>
            <param-name>model</param-name>
            <param-value>/models/visual_joint/alexnet</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Visualize</servlet-name>
        <servlet-class>com.artistech.ee.orange.Visualize</servlet-class>
        <init-param>
            <param-name>path</param-name>
            <param-value>/work/Documents/FOUO/EntityExtraction/green_pipeline/visualization</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>JIE</servlet-name>
        <url-pattern>/JIE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Visualize</servlet-name>
        <url-pattern>/Visualize</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>com.artistech.ee.web.PipelineInit</listener-class>
    </listener>
</web-app>
